====== Readers requirements ======

===== Programs =====
  * C++ compiler (G++, MSVC...).
  * Make

===== Libraries =====

==== Required ====
  * libiconv for the character set detection and UTF-8 conversion (not required for Windows).
  * Boost for specific iconv fixes (not required for Windows).

==== Optional ====
  * Expat for XML reading support.

===== Optional programs =====
  * Doxygen to generate source code documentation.
  * Graphviz to generate graphs with the dot program used by Doxygen.
  * Python for the template source code regeneration.